.Header {
  grid-row: 1;
  border: var(--x-ray3);
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

#model-button {
  grid-column: 1;
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: inherit;
  border: none;
  color: rgb(217, 217, 227);
  font-size: 18px;
  font-weight: 500;
}

#model-button:hover {

}

#downArr {
  height: 14px;
  width: 14px;
  /* color: rgb(153, 153, 153) */
  margin-top: 2px;
}

#downloadBtn {
  grid-column: 3;
  /* margin: auto 4px auto auto; */
  margin: auto;
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: inherit;
  border: none;
}

#downloadBtn:hover {
  background-color: rgba(33, 33, 33, .5);
  border-radius: 11px;
}

#downloadBtnIcon {
  height: 20px;
  width: 40px;
  margin: auto;
}

@media (max-width: 1000px) {
  #downloadBtn {
    width: 80%;
  }
}
