.PromptBox {
  background-color: rgba(52,53,65,.9);
  grid-row: 3;
  border: var(--x-ray3);
  display: grid;
  /* place-items: center; */
  justify-content: center;
  align-items: baseline;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 8fr 4fr;
}

#promptInput {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: 1px solid rgb(86, 88, 105);
  border-radius: 11px;
  /* grid-column: 2; */
  /* grid-row: 1; */
  height: 100%;
  width: 100%;
  padding-left: 11px;
  font-size: 14.7px;
}

#promptForm {
  /* border: var(--x-ray3); */
  grid-column: 2;
  grid-row: 1;
  height: 80%;
  /* padding-left: 11px; */
  /* padding-right: 11px; */
  /* font-size: 14.7px; */


}

#promptInput:focus {
  outline: none;
}

#belowPromptMessage {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  padding-left: 11px;
  color: inherit;
  text-decoration: none;
  font-size: 10px;
}
