:root {
  --x-ray1: 3px solid red;
  --x-ray2: 4px solid yellow;
  --x-ray3: 5px solid green;
}

*, *::before, *::after {
  box-sizing: border-box;
}


html {
  margin: 0;
  background-color: rgb(52, 53, 65);
  color: rgb(236, 236, 241);
  font-family: 'serif'
}

body {
  margin: 0px;
}
