.Sidebar {
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 100px 12fr 80px;
}

#sidebarTopLogo {
  grid-row: 1;
  width: 100%;
  /* height: 100%; */
}
